<div class="osrsMap">
    <canvas #osrsmapcanvas width="2048" height="1191" id="osrsmapcanvas" (click)="navigateToActivity($event)" class="osrsmapcanvas"></canvas>
    <div class="activityList">
       <table *ngIf="activities">
            <thead>
                <tr>
                    <td>
                        <!-- icon-->
                    </td>
                    <td>Name</td>
                    <td>Region</td>
                    <td>Type</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of activities" (mouseenter)="setCircles([a.pos])" (mouseleave)="setCircles([])" >
                    <td>
                        <img src="{{a.icon.src}}" alt="">
                    </td>
                    <td>
                        <a href="{{a.getLink()}}">{{a.name}}</a>
                    </td>
                    <td>
                        <img src="/assets/areaBanners/{{a.region}}_Area_Badge.png" alt=""> {{a.region}}
                    </td>
                    <td>
                        {{a.type}}
                    </td>
                </tr>
            </tbody>
       </table>
    </div>
    
</div>
