.osrsmapcanvas {
    width: 2048;
    height: 1191;
    float: left;
}

.activityList {
    width: 200;
    float: right;
    font-size: 25px;
}

.skillIcon {
    width: 90%;
    height: auto;
}

.areaBanner {
    width: 75%;
    height: auto;
}

.activityTable > tbody > tr > td {
    padding-left: 3px;
    padding-right: 3px;
}
