.itemList {
    overflow:hidden;
    overflow-y: scroll;
    height: 200px;
    width: 250px;
}

.inventory_table {
    background: url("/assets/inventoryIcons/Inventory_tab.png") no-repeat;
    width: 400px;
    height: 540px;
    background-size: cover;
    text-align: center;
}

.runepouch_table {
    background: url("/assets/inventoryIcons/Rune_pouch_background.png") no-repeat;
    width: 400px;
    height: 157px;
    background-size: cover;
    text-align: center;
}