<div>
    <div class="gear-setup" *ngIf="gearsetup.inventory.getItem(1)">
        <div class="inventory">
            <table class="inventory_table">
                <tbody>
                <tr *ngFor="let row of gearsetup.inventory.getAs2DArray(); index as y">
                    <td *ngFor="let i of row; index as x">
                        <img
                        src="assets/Icons/{{i.icon}}"
                        alt="{{i.name}}"
                        title="{{i.name}}" class="inventory_icon_image">
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>